doctype html 
html(lang="en")
    head 
        title "Result"
    
    body.bg(style='background: gold; font-size: 20px;')
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{moviename}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{description}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{rating}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{writer}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{director}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{producer}
        div(style='border: 1px solid black;')
            h1(style='text-align:center') #{cast}
        